header{
font-family: sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

body{

  	background: url(../img/img1.jpeg);
	background-size: cover;
	background-position: center;

	background-attachment: fixed;


}




.list-nav li a{
	font-weight: bold;
	font-size: 13px;
	font-family: 'Merriweather', serif;
}

.list-nav li a:hover{
	text-decoration: none;
	color: #FFE400;
}



.title-electromos{
	text-decoration: none;
	font-family: 'Merriweather', serif;
}

.title-electromos:hover{
	text-decoration: none;
	color: #FFE400;
}


.no-pad-bot{
	text-align: center;
	margin-top: 300px;
}

header h2,p{
	color: white;
	text-align:center;
}

header h2{
	font-size:7vw;
}

header p{
	font-size:1.5vw;
}


.break-line{
	width:10%;
	color: white;
	background-color: white;
}

.break-line1{
	width: 80%;
	color: white;
	background-color: white;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;

}


.header-content{
	position: relative;
	transform: translate(0,50%);
}


h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.upcoming-event{
	font-weight: bold;
	font-size:4vw;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

.tech-card{
	position: absolute;
	top: 0;
}


.date-venue{
	position: absolute;
	bottom: 0px;
	left: 20px;
	font-size: 3vw;

}

.dark-it{


}
.black-gradient{
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
	/*background: linear-gradient(to bottom left, white, black);*/
	background-image: radial-gradient(farthest-corner at 100% 0%, transparent 0%  , black 100%);
	opacity: 0.8;
}

.black-gradient1{
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
	/*background: linear-gradient(to bottom left, white, black);*/
	background-image: radial-gradient(circle, black 0%  , transparent 100%);
	opacity: 0.8;
}





/*------------------------------------------------*/

.container.gallery-container {
    /*background-color: #fff;*/
    position: relative;
    color: white;
    min-height: 100vh;
    padding: 30px 50px;
    margin-bottom: 0px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #EDF5E1;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color:  #EDF5E1;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}


/*--------------------------------------------------*/


/*--------------------------------------Social Icons--------------------------*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: 	#DC143C;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.social-media-footer{
	position: relative;
	margin-top: ;
}

.social-media-footer1{
	position: relative;
	margin-top: 40vh;
}


/*----------------------------------------------------------------------------*/


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 0;
  margin-top: 8px;
  margin-right: 16px;
  /*background: #ddd;*/
  background: white;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-container-form{
	position: relative;
	top: 100px;
}

.search-container-form-text{
	width: 80%;
	height: 4rem;
}

.search-container-form-button{
	position: relative;
	top: 15px;
}


input[type="text"]::placeholder {

                /* Firefox, Chrome, Opera */
                text-align: center;
            }
input,button {
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
}
input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}




/* ------------------------ */
:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}



#timeline{
	position: relative;
	top: 30vh;
}

/* Create Line */
#timeline ul {
  padding: 50x 0;
}

#timeline ul li {
  position: relative;
  width: 6px;
  padding-top: 50px;
  margin: 0 auto;
  background: #fff;
  list-style: none;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  /* visibility: hidden;
  opacity: 0; */
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translate(-200px, 0);
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Tech maitry */
#techmaitry-modal{
  width:600px;
  height:400px;
}
#techmaitry-modal-small{
  width:350px;
  height:400px;
}

.modal1{
  height:330px;
  background: var(--secondary-color);
}
.modal1-small{
  height:330px;
  background: var(--secondary-color);
}
.modal h1{
  color: #FFE400;
}
.modal1-small h1{
  color: #FFE400;
}
.modal p{
  font-size:20px;
}
.modal1-small p{
  font-size:15px;
}
.modal-footer p{
  font-size:20px;
  color:black;
  margin-top:20px;
}

/* Hack-a-Tronize model */
#hack-modal{
  width:600px;
  height:450px;
}
#hack-modal-small{
  width:350px;
  height:470px;
}
#hack-modal .modal3{
  height:380px;
  background: var(--secondary-color);
}
.model3-small{
  height:400px;
  background: var(--secondary-color);
}

/* Rpi modal */
#rpi-modal{
  width:600px;
  height:400px;
}
#rpi-modal-small{
  width:350px;
  height:400px;
}
#rpi-modal .modal3{
  height:330px;
  background: var(--secondary-color);
}
.model4-small{
  height:330px;
  background: var(--secondary-color);
}

/* Arduino Modal */
#arduino-modal{
  width:600px;
  height:400px;
}
#arduino-modal-small{
  width:350px;
  height:400px;
}
#arduino-modal .modal3{
  height:330px;
  background: var(--secondary-color);
}
.model5-small{
  height:330px;
  background: var(--secondary-color);
}

/* Arena Modal */
#arena-modal{
  width:600px;
  height:450px;
}
#arena-modal-small{
  width:350px;
  height:470px;
}
#arena-modal .modal3{
  height:380px;
  background: var(--secondary-color);
}
.modal6-small{
  height:400px;
  background: var(--secondary-color);
}

/* Tech riddle modal */
#riddle-modal{
  width:600px;
  height:450px;
}
#riddle-modal-small{
  width:350px;
  height:470px;
}
#riddle-modal .modal3{
  height:380px;
  background: var(--secondary-color);
}
.modal7-small{
  height:400px;
  background: var(--secondary-color);
}

#timeline ul li.show:after { background: var(--secondary-color); }


@media(max-width: 900px) {
  #timeline ul li div { width: 250px; }

  #timeline ul li:nth-child(even) div { left: -284px; }
}

@media(max-width: 600px) {
  #timeline ul li { margin-left: 20px; }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div { left: 40px; }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}




.lists-container {
  margin-top: 150px;
  max-width: 800px;
}

.card {
  overflow: auto;
}

.waves-effect {
  width: 100%;
}

.subheader {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0.75rem 16px;
}

/*.list-divider {
  border: 0;
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 16px;
  margin-left: 75px;
}*/

.list {
  margin: 0;
}

.list li {
  padding: 0 16px;
}

.list li .valign-wrapper {
  min-height: 72px;
}

.list i.circle {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.26);
}

.list .title span {
  color: rgba(0, 0, 0, 0.54);
}

.ml-auto {
  margin-left: auto;
}

i.ml-auto {
  color: rgba(0, 0, 0, 0.26);
}

.cart-container .title{
	font-size: 20px;
}


/*------------------------------------team.html---------------*/

.our-team-container{
	position: relative;
	top: 10vh;
}

.our-team-container-row1{
	position: relative;
	top: 10vh;
}


.box {
	position: relative;
	transition: all .2s ease-out 0s
}
.box .box-content,
.box:after {
	position: absolute;
	left: 20px;
	right: 20px
}
.box:after {
	content: "";
	display: block;
	background: #463f9f;
	top: 20px;
	bottom: 20px;
	opacity: 0;
	transform: rotate3d(-1, 1, 0, 100deg);
	transition: all .4s ease-in-out 0s
}
.box:hover:after {
	opacity: .9;
	transform: rotate3d(0, 0, 0, 0deg)
}
.box img {
	width: 100%;
	height: auto
}
.box .box-content {
	text-align: center;
	top: 45%;
	opacity: 0;
	z-index: 1;
	-webkit-transform: translate(10%, -30%);
	transform: translate(10%, -30%);
	transition: all .2s ease-out 0s
}
.box:hover .box-content {
	opacity: 1;
	transform: translate(0, -50%);
	transition-delay: .2s
}
.box .title {
	display: block;
	font-size: 22px;
	font-weight: 700;
	color: #39b54a;
	margin: 0 0 10px
}
.box .post {
	display: block;
	font-size: 15px;
	color: #f7f7b9;
	margin-bottom: 20px
}

.our-team-header{
	color: white;
	font-size: 55px;
}

.our-team-header1{
	color: #FFE400;
	font-size: 55px;
}

.founder-header{
	color: white;
	font-size: 45px;
}

.founder-header1{
	color: #FFE400;
	font-size: 45px;
}
.componets, .tutorials{
  position:relative;
  top:50px;
  text-align: center;
}
.componets p, .tutorials p{
  font-size: 40px;
}
.componets button{
  width:120px;
}
.tutorial-item{
  color: black;
  float: left;
  position: relative;
  top:5px;
  font-size: 18px;
}














@media screen and (max-width: 670px){
	header p{
		font-size:4vw;
	}
	header{
		min-height: 350px;
	}
	.upcoming-event{
	font-weight: bold;
	font-size:5vw;
}
	.no-pad-bot{
	margin-top: 100px;
}

	.fa {
	  padding: 10px;
	  font-size: 20px;
	  width: 45px;
	  text-align: center;
	  text-decoration: none;
	  border-radius: 50%;
}
	.social-media-footer{
	position: relative;
	margin-top: -120px;
}

	.social-media-footer1{
	position: relative;
	margin-top: 120px;
}

	.search-container-form{
	position: relative;
	top: -250px;
}

.search-container-form-text{
	width:75%;
	height: 4rem;
}

.search-container-form-button{
	position: relative;

}

.small-screen-header-content{
	position: relative;
	top: 30px;
}


#timeline{
	position: relative;
	top: 10vh;
}

.header1{
	font-size: 10vw;
}

.past-events{
	font-size: 5vw;
}

.lists-container {
  margin-top: -200px;
}

.our-team-container{
	position: relative;
	top: -200px;
}

.our-team-container-row1{
	position: relative;

}

.box{
	margin-bottom: 15px;
}
.componets, .tutorials{
  position:relative;
  top:-270px;
  text-align: center;
}
.componets p, .tutorials p{
  font-size: 25px;
}
.componets button{
  width:80px;
}


}
